/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/


/src/
/template/
/resources/public/index.html
/resources/public/cljs/
/figwheel_server.log
/node_modules/
