
{
  :paths ["src" "macros"]
  :deps {
    cumulo/memof {:mvn/version "0.2.0-a3"}
  }
  :aliases {
    :release {
      :extra-deps {
        appliedscience/deps-library {:mvn/version "0.3.4"}
      }
      :main-opts ["-m" "deps-library.release"]
    }
  }
}
