
{:source-paths ["src" "polyfill" "test"]
 :dependencies [[mvc-works/polyfill   "0.1.1"]
                [mvc-works/hsl        "0.1.2"]
                [binaryage/devtools     "0.9.7"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [respo.main]}}
                :devtools {:after-load respo.main/reload!
                           :preloads [shadow.cljs.devtools.client.hud
                                      devtools.preload]}
                :release {:output-dir "dist/"}}
          :test {:target :node-script
                 :output-to "target/test.js"
                 :main respo.test.html/main!
                 :devtools {:after-load respo.test.html/reload!}}}}
