
{:source-paths ["src" "polyfill" "test"]
 :http {:port 8200}
 :dependencies [[mvc-works/polyfill   "0.1.1"]
                [mvc-works/hsl        "0.1.2"]]
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [respo.main]}}
                :devtools {:after-load respo.main/reload!}}
          :release {:output-dir "target"
                    :target :browser
                    :modules {:main {:entries [respo.main]}}
                    :compiler-options {:pseudo-names true
                                       :pretty-print true}}
          :test {:target :node-script
                 :output-to "target/test.js"
                 :main respo.test.html/main!}}}
