{
  :source-paths ["src" "macros"]
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [cumulo/memof "0.2.3"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :app {
      :output-dir "target/", :asset-path ".", :target :esm
      :modules {
        :main {:init-fn respo.main/main!}
      }
      :devtools {:loader-mode :script}
      :release {:output-dir "dist/"}
    }
    :test {:target :node-script, :output-to "target/test.js", :main respo.test.main/main!}
  }
}